.imgWidth {
    width: 100%;
    filter:brightness(0.5);
}

.texto-encima{
    position: absolute;
    top: 5.2vw;
    left: 39.5vw;
    color: white;
    font-size: 2.2vw;
}

.texto-medio{
    position: absolute;
    top: 8.5vw;
    left: 40.2vw;
    color: white;
    font-size: 0.9vw; 
}
